* {
    margin: 5px 0;
}

body {
    max-width: 100%;
}

.cavezera {
    height: 200px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
}

table, td {
    border-collapse: collapse;
    font-size: 100%;
    font-family: "Calibri";
    margin: auto;
    text-align:left;
    padding: 10px 10px;
    color: white;
    width: 100%;
}

.hr-naranja {
    background-color: orangered;
    padding-bottom: 2px;
}

#logo {
    width: 100%;
}

#logocontainer {
    max-width: 400px;
    margin: 0 auto;
}

#menu {
    background-color: rgb(255, 115, 0);
}

#noficial {
    font-size: 70%;
}

#quees {
    text-align: center;
}

.links {
    color: white;
    text-decoration: wavy;
    padding: 4px;
    transition-duration: 0.4s;
}

.links:hover {
    background-color: #4CAF50; /* Green */
    color: black;
}

.fotos {
    width: 90%;
    background-color: gainsboro;
    padding: 5px;
    margin: 0 auto;
}